.container-editProfile {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: repeat(auto-fit, 100%);
}

.edit-profile-nav {
  position: fixed;
  height: 48px;
  width: 100vw;
  background-color: blue;
}
